@forward 'globals';
@use '../scss/globals/typography' as font;
@use '../scss/globals/mediaQ' as mediaQuery;

@mixin flexDirection($direction, $justyfy){
    display: flex;
    flex-direction: $direction;
    justify-content: $justyfy;
}
body{
    background-color: #f4f4f4;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: black;
}
.paragraph{
    color: var(--black, #223);
    font-family: font.$regular;
    opacity: 0.6;
    font-weight: 400;
}
.section_heading{
    font-weight: 501;
}
img{
    @include mediaQuery.xl{
        width: 100%;
        height: 100%;
    }   
}


.header{
    margin-top: 6rem;
    margin-bottom: 6rem;

    .wrapper{
        @include flexDirection(row, space-between);
        width: 100%;
    }
}

.hero{
    margin-top: 0;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .container-right{
        @include flexDirection(row, space-around);
        @include mediaQuery.lg{
            gap: 2rem;
            @include flexDirection(column-reverse, center );
        }
    }
    &__text_container{
        @include flexDirection(column, space-between);
        padding-bottom: 19.5rem;
        padding-top: 13rem;
        @include mediaQuery.xl{
            width: 50%;
        }
        @include mediaQuery.md{
            width: 90%;
            padding-bottom: 5rem;
            padding-top: 4rem;
        }
        
    }
    &__heading{
        font-family: font.$bold;
        color: #151515;
        font-size: 6rem;
        line-height: 7rem;
        letter-spacing: -0.1rem;
    }
    &__description{
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    &__img_container{
        @include mediaQuery.lg{
            height: 40vh;
        }
    }
    &__loaders_wrapper{
        @include flexDirection(row,flex-start);
        gap: .5rem;
    }
    .loader{
        height: 0.2rem;
        width: 6.2em;
        background: #C6B393;
        opacity: .5;
    }
    .loader.active{
        opacity: 1;
    }
}

.about{
    margin-top: 14rem;
    margin-bottom: 14rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    @include mediaQuery.sm{
        margin-top: 10rem;
        margin-bottom: 10rem;
    }
    .container-center{
        @include flexDirection(row, center);
        align-items: center;
        gap: 12.5rem;
        
        @include mediaQuery.lg{
            gap: 5rem;
            @include flexDirection(column, center);
        }
    }
    &__img_container{
        @include mediaQuery.xl{
            height: 40vh;
            width: 90vw;
        }
    }
    &__text_container{
        @include flexDirection(column, left);
        gap: 6rem;
        @include mediaQuery.xl{
            width: 100%;
        }
    }
    &__text_wrapper{
        @include flexDirection(column, left);
        gap: 3rem;
        
    }
    &__description{
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
    &__user_wrapper{
        @include flexDirection(row, left);
        gap: 3rem;
    }
    &__user_profile_picture{
        width: 6.5rem;
        height: 6.5rem;
        border-radius: 6.5rem;
        background: url('../assets/img/Denis_Shepovalov.jpg'), lightgray 50% / cover no-repeat;

    }
    &__user_profile_description{
        @include flexDirection(column, center);
        align-items: flex-start;
        gap: .5rem;
    }
    .user{
        &_position{
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }
}

.services{
    margin-top: 14rem;
    margin-bottom: 18rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    
    .section_heading{
        font-size: 1.4rem;
        line-height: 2.4;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
    }
    &__text_wrapper{
        margin-top: 4rem;
        margin-bottom: 10rem;
        @include flexDirection(row, space-between);
        gap: 16rem;
        @include mediaQuery.xl{
            margin-bottom: 4rem;
            @include flexDirection(column, space-between);
            align-items: center;
            gap: 2rem;
        }
    }
    &__description{
        width: 50%;
        @include mediaQuery.xl{
            width: 100%;
        }
    }
    &__buttons_wrapper{
        @include flexDirection(row, space-between);
        flex-wrap: wrap;
        column-gap: 6rem;
        row-gap: 2rem;
        width: 50%;
        p{
            width: 40%;
            font-size: 1.8rem;
            line-height: 2.8rem;
            cursor: pointer;

            &:hover{
                opacity: 1;
            }
            @include mediaQuery.xl{
                width: fit-content;
            }
        }
        @include mediaQuery.xl{
            width: 100%;
            justify-content: flex-end;
            gap: 2rem;
        }

    }
}
.slider{
    &__img_wrapper {
        display: flex;
        overflow: scroll;
        gap: 3rem;
        @include mediaQuery.xl{
            height: 40vh;
            width: auto;
            img{
                width: auto;
                height: auto;
            }
        }
    }
    &__img_wrapper::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
      
    &__img_wrapper::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
      
    &__img_wrapper:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
    }
    &__btn_wrapper{
        margin-top: 5rem;
        @include flexDirection(row, flex-start);
        column-gap: 2.5rem;
        button{
            padding: 0;
            &:hover{
                rect{
                    fill: #979797;
                }
            }
        }
    }
}

.features{
    margin-top: 18.1rem;
    margin-bottom: 20.2rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .container-left{
        @include flexDirection(row,space-between);
        gap: 9.7rem;
        @include mediaQuery.xl{
            @include flexDirection(column, center);
        };
    }
    &__heading{
        margin-top: 3.8rem;
        margin-bottom: 3.8rem;
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: -0.1rem;
    }
    &__description{
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 6.2rem;
    }
    &__img_container{
        img{
            width: 100%;
        }
        position: relative;
        @include mediaQuery.xl{
            height: 40vh;
        }
        @include mediaQuery.md{
            height: fit-content;
        }
        .back{
            width: 57rem;
            @include mediaQuery.xl{
                height: 100%;
                object-fit: contain;
            }
            @include mediaQuery.sm{
                width: 70%;
                height: auto;
                object-fit: contain;
            }
        }
        .front{
            position: absolute;
            right: -30%;
            bottom: -20%;
            height: 45rem;
            object-fit: cover;
            width: 35rem;
            @include mediaQuery.xl{
                right: 0;
                left: unset;
                bottom: -5rem;
            }
            @include mediaQuery.sm{
                width: 40%;
                height: 100%;
                object-fit: cover;
            }
          }
        }
    
    &__text_container {
        width: 36%;
        @include mediaQuery.xl{
            width: 100%;
        }
    }
    .advantage1,
    .advantage2{
        @include flexDirection(row,flex-start);
        gap: 3rem;
        align-items: center;
    }
    .advantage__description{
        p{
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.4rem;
            text-transform: uppercase;
            opacity: 1;
            font-family: font.$semiBold;
            font-weight: 510;
        }
    }
}

.works{
    margin-top: 20rem;
    margin-bottom: 25rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .section_heading{
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
    }
    &__heading_wrapper{
        @include flexDirection(row, space-between);
        margin-top: 4rem;
        margin-bottom: 10.8rem;
        @include mediaQuery.sm{
            @include flexDirection(column, flex-start);
            gap: 2rem;
        }
    }
    &__buttons_wrapper{
        @include flexDirection(row, space-between);
        gap: 2.4rem;
        align-items: center;
        @include mediaQuery.sm{
            flex-wrap: wrap;
            justify-content: end;
        }
        
        p{
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.4rem;
            @include mediaQuery.sm{
                font-size: 2rem;
            }
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    &__works_wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;

        div:hover{
            position: relative;
            bottom: 2rem;
            box-shadow: -30px 80px 200px 0px rgba(0, 0, 0, 0.25);
        }
    }
    &__works_item{
        img{
            @include mediaQuery.xl{
                width: 100%;
                height: 100%;
            }
        }
    }
    &__disclaimer_wrapper{
        @include flexDirection(row,space-between);
        align-items: center;
        margin-top: 5.2rem;
        @include mediaQuery.sm{
            flex-direction: column;
            gap: 2rem;
        }
        p{
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 2.8rem;
            width: 65%;
            @include mediaQuery.sm{
                width: 100%;
            }
        }
    }
}

.testimonials{
    margin-top: 25rem;
    margin-bottom: 17rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include mediaQuery.md{
            grid-row-gap: 2rem;
        }
        
        .section_heading{
            grid-column: 1;
            grid-row: 1;
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.4rem;
            text-transform: uppercase;
            @include mediaQuery.lg{
                grid-column: 1 / span 2;
            }
        }
    }

    &__img_wrapper{
        grid-column: 2;
        grid-row: 1 / span 2;

        @include mediaQuery.lg{
            grid-column:  1 / span 2;
            grid-row: 2 / span 2;
            height: 40vh;
        }

        img{
            max-width: 100%;
            object-fit: contain;
        }
    }

    &__text_wrapper{
        grid-column: 1;

        @include flexDirection(column, space-between);
        @include mediaQuery.lg{
            grid-column: 1 / span 2;
        }
    }
    &__user_profile_description {
        margin-top: 12rem;
        margin-bottom: 8rem;
        @include flexDirection(column,space-between );
        gap: 1.3rem;
        @include mediaQuery.xl{
            margin-top: 4rem;
            margin-bottom: 1rem;
        }

        .user_position{
            font-size: 1.8rem;
            line-height: 2.8rem;
        }
    }
}

.clients{
    background-color: #fafafa;
    padding-top: 10rem;
    padding-bottom: 14rem;
    @include mediaQuery.md{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    &__text_wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        
        .section_heading{
            grid-column: 2;
            grid-row: 1;
            font-family: font.$medium;
            font-size: 1.4rem;
            font-weight: 501;
            line-height: 2.4rem;
            letter-spacing: .4rem;
            text-transform: uppercase; 
            opacity: 1;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            @include mediaQuery.sm{
                grid-column: 1 / span 2;
            }
        }
    }
    &__heading{
        grid-column: 1;
        grid-row: 1;
        @include mediaQuery.sm{
            grid-row: 2;
            margin-top: 2rem;
        }
    }
    &__description{
        grid-column: 2;
        grid-row: 2;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px; 
        opacity: .7;
        @include mediaQuery.sm{
            grid-column: 1 / span 2;
            grid-row: 3;
            margin-top: 2rem;
        }
    }
    &__logo_wrapper{
        margin-top: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
            g{
                transition: opacity .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &:hover g{
                opacity: 1;
                transition: opacity .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            @include mediaQuery.md{
                width: 8rem;
                height: 8rem;
            }
        }

        @include mediaQuery.sm{
            overflow-x: scroll;
        }
    }

}

.footer{
    background-color: #515151;

    &__logo{
        width: fit-content;
        margin-inline: auto;
        padding-top: 10rem;
        padding-bottom: 10rem;

        svg {
            path{
                transition: fill .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
            &:hover path{
                fill: #000;
                transition: fill .6s cubic-bezier(0.075, 0.82, 0.165, 1);
            }
        }
    }
}

