@use './typography' as font;
@use './mediaQ' as mediaQuery;

.container-center{
    max-width: 1360px;
    padding-inline: 12.5rem;
    margin-inline: auto;
    @include mediaQuery.xl{
        max-width: calc(100% - 6rem);
    }
}
.container-right{
    max-width: 1360px;
    margin-inline: auto;
    padding-left: 12.5rem;

    @include mediaQuery.xl{
        max-width: calc(100% - 6rem);
    }
}
.container-left{
    max-width: 1360px;
    margin-inline: auto;
    padding-right: 12.5rem;
    
    @include mediaQuery.xl{
        max-width: calc(100% - 6rem);
    }
}
.big_button_primary{
    background-color: var(--blue);
    color: var(--white);
    text-transform: uppercase;
    padding: 1.7rem 3.2rem;
    font-family: font.$semiBold;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: 0.4rem;
}